[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #83341D;
    --md-primary-bg-color: #E2D4C6;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #2D1D1A;
  --md-primary-bg-color: #AE883C;
}